@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #fff;
    padding: 20px;
    background-image: url('/Imagenes/header.jpeg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 2,5em;
    color: #ffffff;
}

header p {
    font-size: 1em;
    color: #ffffff;
}

header h2 {
    font-size: 1.5em;
    color: #000;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #444;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

.gallery a {
    flex: 0 0 calc(50% - 10px); 
    box-sizing: border-box;
}

.gallery img {
    width: 80%; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.video {
    margin: 20px 0;
    padding: 20px;
    width: auto;
    background-color: #a9b09d;
}
.video video {
    width: 70%;
    height: auto;
}

footer {
    background-color: #94acb5;
    padding: 10px;
    color: #fff;
}


@keyframes footer {
    from {background-color: #ffffff;}
    to {background-color: #94acb5;}
}

footer {
    animation-name: footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes nombre {
    from {color: #ffffff; font-size: 3em;}
    to {color: #000000;}
}

header h1{
    animation-name: nombre;
    animation-duration: 5s;
    animation-iteration-count: initial;
}

